@model GameShop.WebApplication.Models.Porduct.PostProductModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post">
    <h1>เพิ่มสินค้า</h1>

    <div class="row mb-3">
        <div class="col-lg-4 col-md-6">
            <label asp-for="Category" class="form-label"></label>
            <select class="form-select" asp-for="Category" asp-items="@Model.Categories" onchange="onCategories_Changed(this)">
                <option disabled selected>เลือก</option>
            </select>
            <span class="text-danger text-sm-end float-end" asp-validation-for="Category"></span>
        </div>
        <div class="col-lg-4 col-md-6">
            <label asp-for="Group" class="form-label"></label>
            <select class="form-select" asp-for="Group">
            </select>
            <span class="text-danger text-sm-end float-end" asp-validation-for="Group"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-lg-4 col-md-6">
            <label asp-for="Name" class="form-label"></label>
            <input class="form-control" asp-for="Name">
            <span class="text-danger text-sm-end float-end" asp-validation-for="Name"></span>
        </div>
        <div class="col-lg-4 col-md-6">
            <label asp-for="Image1" class="form-label"></label>
            <input type="file" class="form-control" asp-for="Image1">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-4 col-md-6">
            <label asp-for="Price" class="form-label"></label>
            <input type="number" class="form-control" asp-for="Price">
            <span class="text-danger text-sm-end float-end" asp-validation-for="Price"></span>
        </div>
        <div class="col-lg-4 col-md-6">
            <label asp-for="Image2" class="form-label"></label>
            <input type="file" class="form-control" asp-for="Image2">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-1 col-md-2">
            <label asp-for="IsUsed" class="form-label"></label>
            <div class="form-check form-switch mt-2">
                <input type="checkbox" class="form-check-input" asp-for="IsUsed" onchange="onFieldConditionPercent_Changed(this)">
            </div>
        </div>
        <div id="fieldConditionPercent" style="visibility:collapse" class="col-lg-3 col-md-4">
            <label asp-for="ConditionPercent" class="form-label"></label>
            <input type="number" class="form-control" asp-for="ConditionPercent">
            <span class="text-danger text-sm-end float-end" asp-validation-for="ConditionPercent"></span>
        </div>
        <div class="col-lg-4 col-md-6">
            <label asp-for="Image3" class="form-label"></label>
            <input type="file" class="form-control" asp-for="Image3">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-4 col-md-6">
            <label asp-for="Description" class="form-label"></label>
            <textarea class="form-control" rows="3" asp-for="Description"></textarea>
            <span class="text-danger text-sm-end float-end" asp-validation-for="Description"></span>
        </div>
        <div class="col-lg-4 col-md-6">
            <label asp-for="Image4" class="form-label"></label>
            <input type="file" class="form-control" asp-for="Image4">
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Post</button>
</form>

<script type="text/javascript">
    function onCategories_Changed(sender){
        axios.get('/product/groups/' + sender.value)
            .then(function (response){
                var groups = response.data;
                var groupSelector = document.getElementById('Group');

                groupSelector.innerHTML = "";

                for(var i = 0; i < groups.length; i++){
                    var option = document.createElement('option');
                    option.value = groups[i].id;
                    option.text = groups[i].name;

                    groupSelector.add(option)
                }
            });
    }

    function onFieldConditionPercent_Changed(sender){
        var isUsed = sender.checked;
        var fieldConditionPercent = document.getElementById('fieldConditionPercent');
        var visibilityState = 'collapse'

        if(isUsed){
            visibilityState = 'visible';
        }

        fieldConditionPercent.style.visibility = visibilityState;
    }
</script>